* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 80%;
}

@media (max-width: 1200px) {
  html {
    font-size: 65%;
  }
}

@media (max-width: 1150px) {
}
.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

/* General css end */
.homepage {
  width: 100%;
  height: 100vh;
  background-image: url(images/background.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
}

.left {
  width: 70%;
}

.nav {
  width: 100%;
  height: 10vh;
}
.nav_logo {
  width: 48%;
  height: auto;
  margin: 0 0 0 80px;
}
.logo {
  width: 40%;
  height: 100%;
  position: relative;
  margin-top: 20px;
  z-index: 99;
}

.welcomeimg {
  height: 70vh;
  margin-top: -6vh;
}

.left__bottom {
  height: 20vh;
  width: 45%;
  margin: 0 auto;
  position: relative;
}

.bubblebottom {
  height: 100%;
  width: 100%;
}

.lower_text {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 88%;
  font-weight: 600;
  font-size: 1.5rem;
}

/* -========================Right section================== */
.right {
  width: 30%;
  gap: 5vh;
  height: 100vh;

  /* background-color: blue; */
}

/* ===========================Menu section-===== */
.nav_menu {
  width: 48%;
  height: 10vh;
  margin-top: 5%;
}
.nav_menu {
  width: 140%;
  position: relative;
  display: flex;
  /* justify-content: right; */
  align-items: center;
  margin-left: -40%;
  margin-right: 5%;
}
.menu_box ul {
  width: 100%;
  list-style: none;
  background: #4eb9ec;
  padding: 1.3rem;
  clip-path: polygon(3% 0%, 100% 0%, 97% 100%, 0% 97%);
}
.menu_box ul li a {
  padding: 1rem 1.3rem;
  font-size: 2rem;
  text-decoration: none;
  font-weight: 500;
  color: #ffffff;
}
.menu_box ul li a.active {
  color: #f42168;
  font-weight: bold;
}

/*  ===========Robot section====== */
.robo_section {
  width: 100%;
  height: 60vh;
}
.bubble {
  position: relative;
  height: 40%;
  width: 90%;
  left: 10%;
}

.bubble .robo_text {
  height: 100%;
  width: 60%;
}

.robo_section .lower_text {
  position: absolute;
  left: 10%;
  top: 25%;
  font-weight: bold;
  font-size: 2rem;
  color: #0d435a;
}
.robo_section .robo_img {
  width: 100%;
  height: 80%;
  margin-top: -15%;
}
.content_right .robo_text {
  position: absolute;
  right: 6.5rem;
  width: 300px;
  height: 150px;
}

/* Bottom section */

.bottom {
  width: 50%;
  margin: 0 10% 0 30%;
}
.icons {
  display: flex;
  gap: 1rem;
  margin-right: 2rem;
  align-self: flex-end;
  flex-direction: row;
  font-size: 1.5rem;
}
.fab {
  background: rgb(250, 247, 247);
  padding: 0.6rem;
  border-radius: 100px;
  color: #231c64;
}
.comp_link a {
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
}
